<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6697f5eca6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../resources/static/assets/css/style.css">
    <title>Home</title>
</head>

<body>
    <header id="header" class="container-fluid text-light">
        <section class="row">
            <div class="col-md p-4 text-center d-grid">
                <div class="user-profile"></div>
                <h1>Nome</h1>
            </div>
        </section>
    </header>
    <div class="wave-column"></div>
    <div class="container-fluid text-light">
        <section class="row">
            <div class="col-md p-4 text-center">
                <h2>Envie a capa de um filme</h2>
                <input class="input-group" type="file">
                <button class="btn btn-primary">ENVIAR</button>
            </div>
        </section>
    </div>
    <div class="container-fluid text-light">
        <section class="row">
            <div class="col-md p-4">
                <h2>Lista de filmes</h2>
            </div>
        </section>
        <section class="row mb-4">
            <ul class="card-group d-flex">
                <li class="card">
                    <img class="card-img" src="../../../resources/static/assets/imgs/film-example.jpg" alt="">
                    <div>
                        <button style="width: 100%;" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img" src="../../../resources/static/assets/imgs/film-example.jpg" alt="">
                    <div>
                        <button style="width: 100%;" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img" src="../../../resources/static/assets/imgs/film-example.jpg" alt="">
                    <div>
                        <button style="width: 100%;" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    </div>
                </li>
                <li class="card">
                    <img class="card-img" src="../../../resources/static/assets/imgs/film-example.jpg" alt="">
                    <div>
                        <button style="width: 100%;" class="btn btn-secondary"><i class="fas fa-trash"></i></button>
                    </div>
                </li>
            </ul>
        </section>

        <footer id="footer" class="row">
            <div class="col-md p-4 text-light">
                <h2>Footer aqui.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nemo reiciendis odio error aliquid
                    incidunt iusto asperiores, velit rerum temporibus voluptatum tempore iure, cupiditate eius beatae
                    assumenda. Aut, consequuntur cumque!</p>
            </div>
        </footer>
    </div>
</body>

</html>